deploy/n8n/brain-daily-digest.json
{
  "id": "brain-daily-digest",
  "name": "Brain Daily Digest",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "days", "daysInterval": 1, "triggerAtHour": 8, "triggerAtMinute": 0 }
          ]
        }
      },
      "id": "a1111111-1111-1111-1111-111111111111",
      "name": "Daily 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://markethubpromo.com/api/brain/advisor",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-brain-cron-secret", "value": "2fef0adf66e4db8ae73d513c501444e9cadd7d9f56877c4fc65e860b4f220046" }
          ]
        },
        "options": {}
      },
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "Advisor — mellamusic73",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 220]
    },
    {
      "parameters": {
        "url": "https://markethubpromo.com/api/brain/advisor",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "operator", "value": "60163593-825c-4e0d-bbdf-623e5dd09401" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-brain-cron-secret", "value": "2fef0adf66e4db8ae73d513c501444e9cadd7d9f56877c4fc65e860b4f220046" }
          ]
        },
        "options": {}
      },
      "id": "c3333333-3333-3333-3333-333333333333",
      "name": "Advisor — markethub973",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 380]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "f6666666-6666-6666-6666-666666666666",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst operators = [\n  { name: 'mellamusic73@gmail.com', data: items[0]?.json || {} },\n  { name: 'markethub973@gmail.com',  data: items[1]?.json || {} },\n];\n\nconst renderOne = (op) => {\n  const d = op.data || {};\n  const state = d.state || {};\n  const recs = d.recommendations || [];\n  const recsHtml = recs.map((r, i) => `\n    <div style=\"margin:12px 0;padding:10px;border-left:3px solid ${\n      r.priority === 'high' ? '#dc2626' : r.priority === 'medium' ? '#f59e0b' : '#10b981'\n    };background:#fafafa;\">\n      <div style=\"font-weight:bold;font-size:13px;\">${i+1}. ${r.action}</div>\n      <div style=\"color:#555;font-size:12px;margin-top:4px;\"><b>Why:</b> ${r.why}</div>\n      <div style=\"color:#777;font-size:11px;margin-top:4px;\">\n        Tool: <b>${r.tool}</b> · Priority: <b>${r.priority}</b> · Est. ${r.estimated_hours ?? '?'}h\n        · <a href=\"https://markethubpromo.com${r.app_path}\">Open</a>\n      </div>\n    </div>`).join('');\n  return `\n    <h2 style=\"margin:24px 0 8px;border-bottom:1px solid #ddd;padding-bottom:6px;\">👤 ${op.name}</h2>\n    <p style=\"color:#555;font-size:13px;margin:0 0 12px;\">${d.summary_headline || ''}</p>\n    <div style=\"background:#f3f4f6;padding:10px;border-radius:6px;font-size:12px;\">\n      <b>State:</b> MRR $${state.mrr_usd ?? 0} · Users ${state.total_users ?? 0} (paying ${state.paying_users ?? 0}, trial ${state.trial_users ?? 0})\n      · Leads ${state.leads_total ?? 0} (+${state.leads_new_7d ?? 0} 7d)\n      · Posts 30d ${state.published_posts_30d ?? 0} · Scheduled 7d ${state.scheduled_posts_next_7d ?? 0}\n      · AI assets 30d ${state.ai_assets_30d ?? 0}\n    </div>\n    <h3 style=\"margin:16px 0 4px;font-size:14px;\">Top ${recs.length} actions</h3>\n    ${recsHtml}`;\n};\n\nconst html = `\n  <div style=\"font-family:system-ui,-apple-system,sans-serif;max-width:720px;margin:0 auto;padding:20px;color:#222;\">\n    <h1 style=\"margin:0 0 4px;font-size:20px;\">🧠 CEO Brain — Daily Digest</h1>\n    <p style=\"color:#888;font-size:11px;margin:0 0 12px;\">${new Date().toLocaleDateString('ro-RO', { weekday:'long', year:'numeric', month:'long', day:'numeric' })}</p>\n    ${operators.map(renderOne).join('')}\n    <p style=\"color:#999;font-size:11px;margin-top:24px;\">Generated: ${new Date().toISOString()}</p>\n  </div>`;\n\nreturn [{ json: {\n  subject: `CEO Brain daily digest — ${new Date().toLocaleDateString()}`,\n  html,\n  to: 'eduard@markethubpromo.com'\n} }];"
      },
      "id": "d4444444-4444-4444-4444-444444444444",
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromEmail": "Eduard <eduard@markethubpromo.com>",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "e5555555-5555-5555-5555-555555555555",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1140, 300],
      "credentials": {
        "smtp": {
          "id": "resend-smtp-cred",
          "name": "Resend SMTP"
        }
      }
    }
  ],
  "connections": {
    "Daily 08:00": {
      "main": [[
        { "node": "Advisor — mellamusic73", "type": "main", "index": 0 },
        { "node": "Advisor — markethub973", "type": "main", "index": 0 }
      ]]
    },
    "Advisor — mellamusic73": {
      "main": [[{ "node": "Merge", "type": "main", "index": 0 }]]
    },
    "Advisor — markethub973": {
      "main": [[{ "node": "Merge", "type": "main", "index": 1 }]]
    },
    "Merge": {
      "main": [[{ "node": "Format Email", "type": "main", "index": 0 }]]
    },
    "Format Email": {
      "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
